*{
  box-sizing: border-box;
}

body{
  font-family: 'Varela Round', sans-serif;
}

.container{
  display:flex;
}

.header{
  background-color:#378B2E;
  padding:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width:980px;
  position:absolute;
  margin:auto;
  left:0;
  right:0;
}

.logoText{
  margin-right:10px;
}

.logoImg{
  order:0;
  fill:white;
  height:35px;
  margin-top:-6px;
}

.logoText{
  order:1;
  color:white;
  font-size: 35px;
}

.logoContainer{
  flex-direction:column;
  margin:auto;
}

.welcomeText{
  margin-top:45px;
  text-align: center;
  font-size:35px;
  margin-bottom:20px;
}

.welcomeTextSmool{
  text-align:center;
  margin-bottom:60px;
}

.output{
  overflow:wrap;
  font-size:22px;
  background-color:white;
  padding:20px 20px;
  height:375px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.column1{
  margin-right:10px;
  flex-wrap:wrap;
  justify-content: space-between;
  width:500px;
}

.column2{
  margin-left:10px;
}

main{
  flex-direction:column;
  background-color:white;
  padding:90px 15px;
  width:980px;
  margin:auto;
  margin-top:15px;
  z-index:9998;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body{
  background-color:#BAE3B6;
}

.content{
  max-width:95%;
  justify-content: space-around;
  margin:auto;
  padding:20px 20px;
  background-color:#F1F1F1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.input{
  flex-direction:column;
  margin-left:10px;
  width:48%
}

label, .labelStyle{
  margin-top:10px;
  margin-bottom:5px;
}

input, select{
  height:30px;
  margin-bottom:10px;
  transition:ease-in;
  border: solid #BAE3B6 1px;
  border-radius:5px;
}

input:hover, select:hover{
  border: solid #378B2E 2px;
}

input:focus, input:focus{
  outline:none;
  border: solid #378B2E 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*input[type= "text"]{
  border: solid #BAE3B6 1px;
  border-radius:5px;
}

input[type= "text"]:hover{
  border: solid #378B2E 2px;
}

input[type= "text"]:focus{
  outline:none;
  border: solid #378B2E 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}*/

.radios{
  display:block;
  width:100%;
}

input[type="radio"] {
  display:none;
}

.selectCard{
  flex-direction:column;
  align-content:center;
  justify-content:center;
  width:100px;
  height:100px;
  min-width:100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color:white;
}

.selectCard:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input[type="radio"]:checked + label {
  border: solid #378B2E 2px;
}

.select{
  text-align: center;
}

.contentType{
  justify-content: space-between;
}

.contentTypeLabel{
  align-self:flex-start;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}